body{
    font-family: 'Roboto', sans-serif;
}
.word-color{
    color: rgb(28, 4, 161);
}
.first-section{
   display: flex;
   padding-top: 10px;
   padding-left: 40px; 
  margin-top: 0%;
  margin-bottom: 15%;

}
h1{
    font-size: 80px;
}
.welcome{
    text-align: center;
    color: salmon;
}
p{
    font-size: 20px;
}
.p1{
    text-align: justify;
}
.width-half{
    width: 50%;
}
.width-half img{
    width: 80%;
}
.link-button{
    padding: 15px;
    border-radius: 5px;
    background-image: linear-gradient(to right, red , green);
    text-decoration: none;
    color: white;
}
.second-section{
    display: flex;
   margin-top: 10%;
   margin-bottom: 10%;
   background-image: url(images/shapes/Frame\ 59.jpg);
   background-repeat: no-repeat;
}


.our-recipie{
    text-align: center;
}
.food-items{
    display: flex;
}
.food-items img{
    width: 90%;
    height: 200px;  
    padding: 20px; 
  }
  .food-name{
      padding-left: 20px;
  }
  .box-shadow{
      width: 30%;
      margin-left: 5%;
      margin-right: 5%;
      box-shadow: 0 4px 8px 0 rgba(78, 73, 73, 0.507), 0 6px 20px 0 rgba(66, 64, 64, 0.19);
      border-radius: 10px;
      height: 400px;
  }
  .follow{
      margin: 10%;
      text-align: center;
  }
 .follow img{
     width: 100px;
     height: 100px;
 }
footer{
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    margin-top: 5%;
}

    